<div class="container my-5">
    <div class="row">
        <div class="col-lg-7">
            <h1 class="font-weight-light">
                Business Name or Tagline</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            <a class="btn btn-primary" href="#">Call to Action!</a>
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">
                Business Name or Tagline</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            <a class="btn btn-primary" href="#">Call to Action!</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <app-item>
            </app-item>
        </div>
        <div class="col-3">
            <app-item>
            </app-item>
        </div>
        <div class="col-3">
            <app-item>
            </app-item>
        </div>
        <div class="col-3">
            <app-item>
            </app-item>
        </div>
    </div>